<app-modal
  *ngIf="cardClicked"
  (closeModal)="closeModal()"
  [currentGame]="game"
></app-modal>

<div class="col-2">
  <div
    [ngClass]="cardMargin"
    class="card bg-dark"
    style="width: 25rem; height: 20rem; border-radius: 1em"
  >
    <ng-container *ngIf="isHovered === false">
      <img
        class="card-img-top"
        [src]="game.banner"
        alt="Game image"
        style="border-radius: 1em 1em 0 0"
        (mouseover)="onHoverGame()"
      />
    </ng-container>
    <ng-container *ngIf="isHovered === true">
      <video
        preload="none"
        loop
        muted
        playsinline
        autoplay
        style="border-radius: 1em 1em 0 0"
        (mouseleave)="onHoverGame()"
      >
        <source [src]="game.video" type="video/webm" />
      </video>
    </ng-container>
    <div class="card-body text-white d-flex flex-column justify-content-around">
      <h5 class="card-title">{{ game.name }}</h5>
      <p class="card-text">
        <span *ngIf="game.onSale !== 0 && game.price !== 0"
          ><s style="color: #a949c1">
            {{ game.price | sale : game.onSale | currency }} </s
          >🏷️</span
        >

        {{ game.price | currency }}
      </p>
    </div>
    <p *ngIf="game.onSale !== 0 && game.price !== 0" class="sale-badge">
      -{{ game.onSale }}%
    </p>
    <div class="info" (click)="onCardClicked()">
      <div class="more">
        <i class="fa fa-chevron-down" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</div>
