<div class="pb-5" *ngFor="let featured of featuredGenreNames; let i = index">
  <h3 class="py-5 text-center text-white">
    Top sales in
    <b class="text-primary">{{ featured }}</b> games
  </h3>

  <div class="container-fluid">
    <div class="row d-flex justify-content-center">
      <app-product-card
        *ngFor="
          let game of discountGameList
            | filterByGenre: [featuredGenreNumbers[i]]
            | topSale: 5
        "
        [game]="game"
        cardMargin="mx-1 my-3"
      >
      </app-product-card>
    </div>
  </div>
</div>
