<h3 class="py-3 text-center text-white">
  Today's featured <b class="text-primary">{{ featuredGenreName }}</b> games
</h3>

<app-carousel
  [gameList]="gameList | filterByGenre: [featuredGenreNumber]"
></app-carousel>

<h3 class="py-3 text-center text-white">
  All <b class="text-primary">{{ featuredGenreName }}</b> games
</h3>

<div class="container-fluid">
  <div class="row d-flex justify-content-center">
    <app-product-card
      *ngFor="let game of gameList | filterByGenre: [featuredGenreNumber]"
      [game]="game"
    ></app-product-card>
  </div>
</div>
