<div
  (click)="onOpenCart()"
  class="navbar-cart ml-auto d-flex align-items-center"
>
  <!-- <span class="cart-price mr-3">{{ shoppingCart.totalPrice.toFixed(2) }}€</span> -->
  <span class="shopping-cart"
    ><i class="fa fa-2x fa-shopping-basket" aria-hidden="true"></i
  ></span>
  <span class="cart-badge">{{ shoppingCart.itemCount }}</span>
</div>

<div
  *ngIf="cartOpen"
  class="cart-content bg-dark d-flex flex-column justify-content-center align-items-start rounded"
>
  <p class="d-flex text-white" *ngFor="let game of shoppingCart.games">
    <span class="mr-1"
      ><img style="width: 50px" [src]="game.banner" alt="game banner"
    /></span>
    <span class="mr-1">{{ game.name }}</span>
    <span class="mr-1">{{ game.price }}€</span>
  </p>
  <p *ngIf="shoppingCart.itemCount > 0" class="text-white align-self-center">
    Empty cart
    <button
      (click)="onEmptyCart()"
      style="color: white; background: #a949c1"
      class="btn"
    >
      <i class="fa fa-trash" aria-hidden="true"></i>
    </button>
  </p>
  <p *ngIf="shoppingCart.itemCount === 0" class="text-white align-self-center">
    Cart is empty
  </p>
</div>
