<div
  (click)="onOpenCart()"
  class="navbar-cart ml-auto d-flex align-items-center"
>
  <span class="cart-price mr-3">{{ shoppingCart.totalPrice.toFixed(2) }}€</span>
  <span
    ><i class="fa fa-2x fa-shopping-basket text-white" aria-hidden="true"></i
  ></span>
  <span class="cart-badge">{{ shoppingCart.itemCount }}</span>
</div>

<div *ngIf="cartOpen" class="cart-content">
  Empty cart
  <button (click)="onEmptyCart()" class="btn btn-danger">
    <i class="fa fa-trash" aria-hidden="true"></i>
  </button>
</div>
