.navbar-cart {
  cursor: pointer;
}

.shopping-cart {
  color: white;
}

.shopping-cart:hover {
  color: #a949c1;
}

.cart-badge {
  position: absolute;
  right: 5px;
  top: 5px;
  background: #a949c1;
  text-align: center;
  border-radius: 15px 15px;
  color: white;
  padding: 5px 10px;
  font-size: 10px;
  font-weight: 600;
}

.cart-price {
  color: white;
}

.cart-content {
  position: absolute;
  top: 80px;
  right: 15px;
  background-color: rgba(0, 0, 0, 0.267);
  padding: 5px;
}
