<div
  class="d-flex flex-column vh-100 vw-100 justify-content-center align-items-center bg-light"
>
  <div class="customlogo m-4">
    <img
      src="https://firebasestorage.googleapis.com/v0/b/games-webshop.appspot.com/o/prims.png?alt=media&token=a2cc8792-57ce-4016-8d51-555b53556aa3"
      style="height: 50px"
      alt="brand logo"
    />
  </div>

  <div class="tab-content col-lg-2">
    <form (ngSubmit)="onSubmit()" [formGroup]="login">
      <h3 class="text-center mb-4">
        Please sign in to access additional content
      </h3>

      <div class="form-outline mb-1">
        <input
          formControlName="userName"
          type="text"
          name="user"
          placeholder="User (admin)"
          class="form-control"
        />
      </div>

      <div class="form-outline">
        <input
          formControlName="password"
          type="password"
          name="password"
          placeholder="Password (1234)"
          class="form-control"
        />
      </div>

      <div class="row mt-2 mb-4">
        <div class="col d-flex justify-content-center">
          <div class="form-check mb-3 mb-md-0">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="loginCheck"
            />
            <label class="form-check-label" for="loginCheck">
              Remember me
            </label>
          </div>
        </div>
      </div>

      <button
        [disabled]="login.status === 'INVALID'"
        type="submit"
        class="btn btn-dark btn-block mb-4"
      >
        Sign in
      </button>

      <div class="d-flex justify-content-between register lostpw">
        <span> <a href="">No account yet?</a> </span>
        <span> <a href="">Forgot password</a> </span>
      </div>

      <div class="copyright text-center mt-5">
        <p>©PRISM Games 2023</p>
      </div>
    </form>
  </div>
</div>
