.customlogo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  font-weight: 600;
  background-color: rgb(103, 103, 108);
  width: 70px;
  height: 70px;
  border-radius: 10px;
  margin: 0 auto;
  color: white;
  border: 2px solid rgb(52, 109, 208);
}
