body {
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

.bgtest {
  min-height: 100vh;
  min-width: 100vw;
  background-image: url(./assets/img/1062_3.png),
    linear-gradient(to bottom right, #6c757d, #6c757d);
}
