<app-login
  (user)="onLogin($event)"
  (auth)="onAuthAttempt()"
  *ngIf="!isAuthenticated"
></app-login>

<div *ngIf="isAuthenticated" class="container-fluid">
  <h3 class="my-3 text-center">Welcome back {{ userName }}</h3>
  <div class="row">
    <div class="col-12">
      <table class="table table-striped">
        <thead>
          <th>#</th>
          <th *ngFor="let head of headers">{{ head }}</th>
          <th>Edit</th>
        </thead>
        <tbody>
          <tr>
            <td>
              <button
                class="btn btn-success"
                (click)="isEditing = !isEditing"
                (click)="onAddNewGame()"
                [disabled]="isEditing"
              >
                <i class="fa fa-plus" aria-hidden="true"></i>
              </button>
            </td>
            <td [formGroup]="edit" *ngFor="let head of headers">
              <input
                formControlName="{{ head }}"
                class="form-control"
                type="text"
                placeholder="{{ head }}"
              />
            </td>
            <td>
              <div class="btn-group">
                <button
                  (click)="onUpdateGame()"
                  [disabled]="!isValid"
                  class="btn btn-info"
                >
                  <i class="fa fa-floppy-o" aria-hidden="true"></i></button
                ><button
                  (click)="isEditing = !isEditing"
                  (click)="onCancelEditingGame()"
                  [disabled]="!isEditing"
                  class="btn btn-secondary"
                >
                  <i class="fa fa-ban" aria-hidden="true"></i>
                </button>
              </div>
            </td>
          </tr>
          <tr *ngFor="let game of gameList">
            <td>{{ game.id }}</td>
            <td>{{ game.catId }}</td>
            <td>{{ game.name }}</td>
            <td>{{ game.description }}</td>
            <td>{{ game.banner }}</td>
            <td>{{ game.video }}</td>
            <td>{{ game.price }}</td>
            <td>{{ game.onSale }}</td>

            <td>
              <div class="btn-group">
                <button
                  (click)="isEditing = !isEditing"
                  (click)="onEditGame(game)"
                  [disabled]="isEditing"
                  class="btn btn-warning"
                >
                  <i class="fa fa-pencil" aria-hidden="true"></i></button
                ><button
                  (click)="onDeleteGame(game)"
                  [disabled]="isEditing"
                  class="btn btn-danger"
                >
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
